@font-face {
  font-family: gotham;
  src: url("./fonts/Gotham-Bold.otf");
}

@font-face {
  font-family: rounded;
  src: url("./fonts/rounded.otf");
}

@font-face {
  font-family: hbold;
  src: url("./fonts/Helvetica\ Neu\ Bold.ttf");
}

@font-face {
  font-family: hlight;
  src: url("./fonts/HelveticaNeue\ Light.ttf");
}

@font-face {
  font-family: hmedium;
  src: url("./fonts/HelveticaNeue\ Medium.ttf");
}

:root {
  --main-color: gotham;
  --rounded-font: rounded;
  --helvetica-light: hlight;
  --helvetica-medium: hmedium;
  --helvetica-bold: hbold;
}

.first {
  background-color: #383838;
  padding-top: 5px;
  padding-bottom: 5px;
}

.second {
  background-color: #d35266;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
}

.small-input,
.small-input1,
.small-input2,
.small-input3 {
  border: none;
}

.mascot {
  width: 30px;
  height: 30px;
}

.forms {
  display: flex;
}

.zat {
  font-size: 13px;
  font-weight: 700;
}

.ad {
  font-size: 13px;
  font-family: var(--main-color);
}

.input2,
.input3 {
  border-left: 1px solid #d35266;
}

.small-input3 {
  background-color: #383838;
  padding: 15px 20px 20px 0;
  margin-left: 1em;
}

.small-input1,
.small-input2 {
  padding: 20px 100px 20px 0;
}

.small-input {
  padding: 20px 0 20px;
}

.input4 {
  margin-left: 1%;
}

.cont {
  background-color: #d35266;
}

.result {
  border: 1px solid red;
}

.result1 {
  padding-top: 10px;
}

.small-input,
.small-input1,
.small-input2:focus {
  outline: none;
}

.flats {
  padding-top: 10px;
}

.topic {
  position: relative;
  top: 1.1em;
}

.section1 {
  background-color: rgba(45, 45, 45, 0.075);
}

.new-buttons {
  background-color: #d35266;
  border: none;
}

.media-bars {
  display: none;
  padding-top:5px;
}

.barss {
  color:red;
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  .forms {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
  }

  .input1,
  .input2,
  .input3,
  .input4 {
    width: 100%;
  }

  .input2,
  .input3,
  .input4 {
    margin-top: 20px;
  }

  .second {
    margin: 0;
  }

  .input4 {
    margin-left: 0;
  }

  .result {
    display: none;
  }
  .media-bars {
    display: block;
  }
}
