@font-face {
  font-family: gotham;
  src: url("./fonts/GothamBold.ttf");
}

@font-face {
  font-family: rounded;
  src: url("./fonts/rounded.otf");
}

@font-face {
  font-family: hbold;
  src: url("./fonts/Helvetica\ Neu\ Bold.ttf");
}

@font-face {
  font-family: hlight;
  src: url("./fonts/HelveticaNeue\ Light.ttf");
}

@font-face {
  font-family: hmedium;
  src: url("./fonts/HelveticaNeue\ Medium.ttf");
}

:root {
  --main-color: gotham;
  --rounded-font: rounded;
  --helvetica-light: hlight;
  --helvetica-medium: hmedium;
  --helvetica-bold: hbold;
}

.first a {
  text-decoration: none;
  font-family: var(--helvetica-bold);
  color: rgb(136, 136, 136);
}

.first {
  background-color: #383838;
  padding-top: 5px;
  padding-bottom: 5px;
}

.second {
  background-color: #d35266;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
}

.small-input,
.small-input1,
.small-input2,
.small-input3 {
  border: none;
}

.mascot {
  width: 30px;
  height: 30px;
}

.forms {
  display: flex;
}

.zat {
  font-size: 13px;
  font-weight: 700;
}

.ad {
  font-size: 13px;
  font-family: var(--main-color);
}

.sold {
  font-family: var(--helvetica-medium);
}

.zattix {
  font-family: var(--main-color);
}

.items {
  font-family: var(--helvetica-light);
  font-size: 14px;
}

.input2,
.input3 {
  border-left: 1px solid #d35266;
}

.small-input3 {
  background-color: #383838;
  padding: 15px 20px 20px 0;
  margin-left: 1em;
}

.small-input1,
.small-input2 {
  padding: 20px 100px 20px 0;
}

.small-input {
  padding: 20px 0 20px;
}

.input4 {
  margin-left: 1%;
}

.cont {
  background-color: #d35266;
}

.result {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.result1 {
  padding-top: 10px;
}

.small-input,
.small-input1,
.small-input2:focus {
  outline: none;
}

.flats {
  padding-top: 10px;
}

/* .topic {
  position: relative;
  top: 1.1em;
} */

.section1 {
  background-color: rgba(45, 45, 45, 0.075);
}

.new-buttons {
  background-color: #d35266;
  border: none;
}

.media-bars {
  display: none;
  padding-top: 5px;
}

.barss {
  color: red;
  font-size: 30px;
}

.number1 {
  width: 15px;
  height: 18px;
  border: 1px solid grey;
  border-radius: 2px;
  padding-top: 2px;
  padding-left: 3px;
}

.list-pa {
  font-size: 10px;
  font-weight: 700;
}

.foot1 {
  display: flex;
}

.footer1 {
  background-color: #383838;
}

.foot a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-family: var(--helvetica-light);
}

.foot3 {
  padding-left: 20px;
  padding-right: 20px;
}

.footss {
  background-color: black;
  overflow: auto;
}

.description {
  font-size: 15px;
  font-family: var(--main-color);
  color: #d35266;
}

.words {
  font-size: 17px;
  font-family: var(--helvetica-medium);
}

.company {
  font-size: 17px;
  font-family: var(--main-color);
}

.foot3 a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.foot3 i {
  width: 30px;
}

.foot {
  display: flex;
  flex-direction: column;
}

.lead {
  border-bottom: 1px solid rgb(185, 181, 181);
}

.navigate {
  color: #d35266;
  font-family: var(--main-color);
  font-size: 15px;
}

.nigeria {
  padding-right: 20px;
  padding-left: 20px;
}

.foots {
  color: #d35266;
  font-family: var(--main-color);
  font-size: 12px;
}

.checked {
  color: gold;
}

.prices {
  position: relative;
  top: 1em;
}

.number {
  display: flex;
}

.all-para {
  background-color: white;
}

body a:hover {
  color: white;
}

.small-input3:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  .forms {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
  }

  .input1,
  .input2,
  .input3,
  .input4 {
    width: 100%;
  }

  .input2,
  .input3,
  .input4 {
    margin-top: 20px;
  }

  .second {
    margin: 0;
  }

  .input4 {
    margin-left: 0;
  }

  .result {
    display: none;
  }

  .media-bars {
    display: block;
  }

  .footss {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .foot {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .foot1 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .lead {
    border-bottom: none;
  }

  .foot div {
    margin: auto;
  }

  .number {
    display: flex;
    flex-direction: column;
  }

  .number-image {
    width: 100%;
  }

  .all-para {
    margin-top: 15px;
  }
}
